# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Xcode
*.DS_Store
xcuserdata
project.xcworkspace

# VisualStudio
*.suo
*.opensdf
*.sdf
*.filters
*.user
*.ipch
Debug
Release

*.atc
